flask
flask-cors
langchain
langchain-openai
langchain
langchain-community
langchain-core
faiss-cpu
python-dotenv
youtube-transcript-api
openai-whisper
yt-dlp
langchain-qdrant
qdrant-client
google-genai